.container {
  display: grid;
  grid-template-columns: 70px 1fr 1fr;
  grid-template-rows: 100%;
  gap: 1rem;
  justify-content: space-around;
  align-content: space-around;
  height: 100vh;
  width: 100%;
  /* background-color: rgb(112, 112, 112); */
}

.editor-container {
  grid-column: 1 span 2;
  min-height: 100%;
  border-radius: 10px;
}

.CodeMirror{
  height: auto;
}

.viewer-container {
  grid-column: 2 span 3;
  min-height: 100%;
  border-radius: 10px;
}

.viewer{
  min-height: 100%;
}

.login-modal{
  z-index: 999;
  height: 300px;
  width: 300px;
}